

<script id="modal-product-preview" type="text/template" data-template-lookup="{{product.metafields.PZKeys.template_id_map}}">

	<div class="modal-product-preview modal-dialog modal-lg"> 
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>

				<h4 class="modal-title"><span style="font:normal 16px/28px 'Trocchi', sans-serif;color:#2957A4"><b>DIBSIES Personalization Options (Free!)</b></span></h4>
			</div>


			<!–– check if preview mode is available or not ––>
			{% if product.metafields.PZKeys.template_id_map == blank and product.metafields.PZKeys.design_id == blank %}
				<div class="modal-body container-fluid">
			{% else %}
				<div class="modal-body container-fluid no-preview">
			{% endif %}

			
				
				<form id="product-form-personalized" action="/cart/add" method="post">

					<!–– product preview ––>
					<div class="row">

						 {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

							<div class="col-md-6 reg-preview-container js-productinfo" data-featimgurl="{{ product.featured_image | product_img_url: 'small' }}" itemscope itemtype="http://schema.org/Product">
				          		<div class="gallery mode-{{ settings.prod_det_gall_method }}">
									<div class="main">

										<a class="image main-image" href="{{ featured_image | img_url: 'master' }}" title="{{ featured_image.alt | escape }}">
											<img src="{{ featured_image | img_url: 'master' }}" alt="{{ featured_image.alt | escape }}" />
										</a>
									</div>
									{% if product.images.size > 1 %}
										<div class="thumbnails">
										{% for image in product.images %}
											<a class="thumb" {% if image.src == featured_image %} class="active" {% endif %} title="{{ image.alt | escape }}" href="{{ image | product_img_url: 'master' }}">
												<img src="{{ image | img_url: 'small' }}" alt="{{ image.alt | escape }}"/>
											</a>
										{% endfor %}
										</div>
									{% endif %}
								</div>
							</div> <!–– end preview col ––>


							<div class="col-md-6 preview-out-container no-preview--hide-me">
				          			<div id="preview-out"></div>
				          	</div> <!–– end preview col ––>								
						
						

			          	<div class="col-md-6">
							{% if product.available %}

							  
							      <div class="options">
							          {% if product.variants.size == 1 %}
							          <input type="hidden" name="id" value="{{ product.variants.first.id }}" /> {% unless product.variants.first.title contains 'Default' %}
							          <p>{{ product.options.first }}: {{ product.variants.first.title }}</p>
							          {% endunless %} {% else %}
							          <div class="selectors">
							              <label for="product-select"><b>{{ product.options.first }}:</b>
							              </label>
							              <select id="product-select" name="id" class="noreplace">
							                  {% for variant in product.variants %}
							                  <option {% if variant.id==p roduct.selected_or_first_available_variant.id %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
							                  {% endfor %}
							              </select>
							              <br/>
							              <br/>
							          </div>

							          {% assign option_mt_index = 0 %} {% assign option_number_names_index = 0 %} {% if product.metafields.PZKeys.is_monogram == 1%} {% assign monogram_type = 'Type of Monogram' %} {% assign number_names = 'Choose Number of Names' %} {% for option in product.options %} {% if option == monogram_type %} {% assign option_mt_index = forloop.index0 %} {% assign option_number_names_index = forloop.index0 %} {% endif %} {% endfor %} {% endif %}

							          {% endif %} {% comment %} {% comment %} START - Personalize option {% endcomment %} {% comment %} NOTE: all required fields must add personalize-option class {% endcomment %} {% if product.variants.size > 1 %}
							          <hr style="width:70%;text-align:left;margin-left:0">
							          <br /> {% endif %}
							          <div id="personalize-copy"> Personalize It?</div>
							          <div id="personalize-form">
							              <input id="personalize-yes" type="radio" name="personalize-option" value="yes" checked>Yes
							              <input id="personalize-no" type="radio" name="personalize-option" value="no">No
							          </div>



							          {% comment %} END - Personalize option {% endcomment %} {% endcomment %} {% comment %} If you are using Shopifys Line Item Properties, add them here! {% endcomment %}

							          <div class="tags contentsection personalize-full-form">



							              {% assign stepnumber = 1 %} {% unless product.metafields.PZKeys.font == blank %} {% assign availableFonts = product.metafields.PZKeys.font | split: ',' %} {% unless availableFonts.size
							              < 2 %} <div>
							                  <label><b>Step 1. Choose Your Font:</b>
							                  </label>
							                  <br />
							                  <br />
							                  <select class="required personalize-option customFont" id="Font" name="properties[Font]" data-fieldname="Font">
							                      <option value="">Select Font ...</option>
							                      {% for font in availableFonts %}
							                      <option value="{{ font | strip_newlines }}">{{ font | strip_newlines }}</option>
							                      {% endfor %}
							                  </select>
							          </div>
							          {% assign stepnumber = stepnumber | plus:1 %} {% endunless %} {% endunless %}


							          
							          {% unless product.metafields.PZKeys.fontcolor == blank %} {% if product.variants.first.metafields.PZKeys.fontcolor == blank %} {% assign availableFontColors = product.metafields.PZKeys.fontcolor | split: ',' %} {% else %} {% assign availableFontColors = product.variants.first.metafields.PZKeys.fontcolor | split: ',' %} {% endif %} {% unless availableFontColors.size
							          < 2 %} <br />
							          <div>
							              <label id="TextColorLabel"><b>Step {{ stepnumber }}. Choose Your Text Color:</b>
							              </label>
							              <br />
							              <br />
							              <p style="margin-left:30px;margin-right:60px" id="TextColorLabelExtra"></p>
							              <div id="Step2">
							                  <select class="required personalize-option customColor" id="TextColor" name="properties[Text Color]" data-fieldname="Text Color">
							                      <option value="">Select Text Color ...</option>
							                      {% for fontcolor in availableFontColors %}
							                      <option value="{{ fontcolor | strip_newlines }}">{{ fontcolor | strip_newlines }}</option>
							                      {% endfor %}
							                  </select>
							              </div>
							          </div>

							          {% assign stepnumber = stepnumber | plus:1 %} {% endunless %} {% endunless %} {% unless product.metafields.PZKeys.graphic_art == blank %} {% assign availableArt = product.metafields.PZKeys.graphic_art | split: ',' %} {% unless availableArt.size
							          < 2 %} <br />
							          <div>
							              <label><b>Step {{ stepnumber }}. Choose Your Graphic Art:</b>
							              </label>
							              <br />
							              <br />
							              <select class="required personalize-option customArt" id="Graphic Art" name="properties[Graphic Art]" data-fieldname="Graphic Art">
							                  <option value="">Select Graphic Art ...</option>
							                  {% for art in availableArt %}
							                  <option value="{{ art | strip_newlines }}">{{ art | strip_newlines }}</option>
							                  {% endfor %}
							              </select>
							          </div>

							          {% assign stepnumber = stepnumber | plus:1 %} {% endunless %} {% endunless %} {% unless product.metafields.PZKeys.personalized_title == 0 or product.metafields.PZKeys.personalized_title == blank %}


							          <label><b>{% if stepnumber == 1 %} 
							                              Add Your Personalized Title:
							                      {% else %}
							                            <br />  
							                        Step {{ stepnumber }}. Add Your Personalized Title:
							                              {% assign stepnumber = stepnumber | plus:1 %}
							                      {% endif %}
							                        
							                        </b>
							          </label><font size="-2"><br/>(Examples:
							           {% if product.metafields.PZKeys.personalized_title_examples == blank %}
							                Mom, Daddy, Grandma
							            {% else %}
							              {{ product.metafields.PZKeys.personalized_title_examples }}
							            {% endif %}
							            ) <br/></font>
							          <input class="required personalize-option customTitle" type="text" id="Personalized Title" name="properties[Personalized Title]" style="width:175px;" maxlength="{{ product.metafields.PZKeys.maxlength }}" data-fieldname="Personalized Title" /> <font size="-2">(Limit: {{ product.metafields.PZKeys.maxlength }} chars )</font>
							          <br />
							          <br /> {% endunless %} {% unless product.metafields.PZKeys.personalized_lastname == 0 or product.metafields.PZKeys.personalized_lastname == blank %}


							          <label><b>{% if stepnumber == 1 %} 
							                              Add Last Name:
							                      {% else %}
							                            <br />  
							                        Step {{ stepnumber }}. Add Last Name:
							                              {% assign stepnumber = stepnumber | plus:1 %}
							                      {% endif %}
							                        
							        <br/></font><input class="required personalize-option customTitle" type="text" id="Personalized Title" name="properties[Personalized Title]" style="width:175px;" maxlength="{{ product.metafields.PZKeys.maxlength }}" data-fieldname="Personalized Title" /> <font size="-2">(Limit: {{ product.metafields.PZKeys.maxlength }} chars )</font>
							                   <br /><br />
							             {% endunless %}
							                
							            {% if product.metafields.PZKeys.number_of_names > 0 %} 
							                
							                  {% if stepnumber == 1 %} 
							                    {% if product.metafields.PZKeys.alternate_names_dates == 1 %}
							                  <label><b>
							                      Add Personalized Text & Dates:
													</b></label><br/><font size="-2">(Only 1 Text and 1 Date Is Required)</font><br /><br />
							                      {% else %}
							          <label><b>  							          
							                  Add Names:
							                      {% if product.metafields.PZKeys.is_ornament == 1 %}
							                        </b>
							          </label><font size="-2">(From Left to Right as Pictured)</font>
							          <br />
							          <br /> {% else %}
							          </b>
							          </label><font size="-2">(Only 1 Name Is Required)</font>
							          <br />
							          <br /> {% endif %} {% endif %} {% else %}
							          <br/> {% if product.metafields.PZKeys.alternate_names_dates == 1 %}
							          <label><b>
							                Step {{ stepnumber }}. Add Personalized Text & Dates:
											</b></label><br/><font size="-2">(Only 1 Text and 1 Date Is Required)</font><br /><br />
                   						{% else %}
							          <label><b>
							                      Step {{ stepnumber }}. Add Names: 
							                        </b>
							          </label><font size="-2">(Only 1 Name Is Required)</font>
							          <br />
							          <br /> {% endif %} {% endif %} {% if product.metafields.PZKeys.alternate_names_dates == 1 %} {% for i in (1..{{product.metafields.PZKeys.number_of_names}}) %} {% if i == 1 %}
							          <label><font size="-2"><b> Date {{ i }} (in MM.DD.YY format, Example: 01.12.15) </b></font></label><br/>
							          <input class="required personalize-option customDate{{ i }}" type="text" id="Birthdate {{ i }}" name="properties[Birthdate {{ i }}]" style="width:175px;" maxlength="{{ 8 }}" data-fieldname="Birthdate {{ i }}" />
							          <br/>
							          <label><font size="-2"><b> Personalized Name/Text {{ i }}: </b></font></label><br/>
							          <input class="required personalize-option customName{{ i }}" type="text" id="Personalized Name {{ i }}" name="properties[Personalized Name {{ i }}]" style="width:175px;" maxlength="{{ product.metafields.PZKeys.maxlength }}" data-fieldname="Personalized Name {{ i }}" />
							          <br/> {% else %}
							          <label><font size="-2"><b> Date {{ i }} (in MM.DD.YY format, Example: 01.12.15): </b></font></label><br/>
							          <input class="personalize-option customDate{{ i }}" type="text" id="Birthdate {{ i }}" name="properties[Birthdate {{ i }}]" style="width:175px;" maxlength="{{ 8 }}" data-fieldname="Birthdate {{ i }}" />
							          <br/>
							          <label><font size="-2"><b> Personalized Name/Text {{ i }}: </b></font></label><br/>
							          <input class="personalize-option customName{{ i }}" type="text" id="Personalized Name {{ i }}" name="properties[Personalized Name {{ i }}]" style="width:175px;" maxlength="{{ product.metafields.PZKeys.maxlength }}" data-fieldname="Personalized Name {{ i }}" />
							          <br/> {% endif %}
							          <br/>
							          <br/>
							          <p></p>							          
							          {% endfor %} {% else %} {% for i in (1..{{product.metafields.PZKeys.number_of_names}}) %}
							          <label class="nameLabel{{ i }}"><font size="-2"><b> Name {{ i }}: </b></font>
							          </label>
							          {% if i == 1 %} {% if product.metafields.PZKeys.is_ornament == 1 and product.metafields.PZKeys.number_of_names > 2 %}
							          <input placeholder="name furthest to the left" class="required personalize-option customName{{ i }}" type="text" id="Personalized Name {{ i }}" name="properties[Personalized Name {{ i }}]" style="width:175px;" maxlength="8" data-fieldname="Personalized Name {{ i }}" /> {% elsif product.metafields.PZKeys.names_are_initials == 1 %}
							          <input class="required personalize-option customName{{ i }}" type="text" id="Personalized Name {{ i }}" name="properties[Personalized Name {{ i }}]" style="width:30px;" maxlength="1" data-fieldname="Personalized Name {{ i }}" /> {% else %}
							          <input class="required personalize-option customName{{ i }}" type="text" id="Personalized Name {{ i }}" name="properties[Personalized Name {{ i }}]" style="width:175px;" maxlength="11" data-fieldname="Personalized Name {{ i }}" /> {% endif %} {% else %} {% if product.metafields.PZKeys.is_ornament == 1 and product.metafields.PZKeys.number_of_names > 2 and i == product.metafields.PZKeys.number_of_names %}
							          <input placeholder="name furthest to the right" class="personalize-option customName{{ i }}" type="text" id="Personalized Name {{ i }}" name="properties[Personalized Name {{ i }}]" style="width:175px;" maxlength="8" data-fieldname="Personalized Name {{ i }}" /> {% elsif product.metafields.PZKeys.is_ornament == 1 %}
							          <input class="required personalize-option customName{{ i }}" type="text" id="Personalized Name {{ i }}" name="properties[Personalized Name {{ i }}]" style="width:175px;" maxlength="8" data-fieldname="Personalized Name {{ i }}" /> {% elsif product.metafields.PZKeys.names_are_initials == 1 %}
							          <input class="personalize-option customName{{ i }}" type="text" id="Personalized Name {{ i }}" name="properties[Personalized Name {{ i }}]" style="width:30px;" maxlength="1" data-fieldname="Personalized Name {{ i }}" /> {% else %}
							          <input class="personalize-option customName{{ i }}" type="text" id="Personalized Name {{ i }}" name="properties[Personalized Name {{ i }}]" style="width:175px;" maxlength="11" data-fieldname="Personalized Name {{ i }}" /> {% endif %} {% endif %} {% if i != product.metafields.PZKeys.number_of_names %}
							          <br/>
							          <br/> {% endif %} {% endfor %} {% endif %} {% assign stepnumber = stepnumber | plus:1 %} {% elsif product.metafields.PZKeys.number_of_years > 0 %} {% if stepnumber == 1 %}

							          <label><b>  
							                  Add Years:      
							                        </b>
							          </label><font size="-2">(Only 1 Year Is Required)</font>
							          <br />
							          <br /> {% else %}
							          <br/>
							          <label><b>
							                      Step {{ stepnumber }}. Add Years: 
							                        </b>
							          </label><font size="-2">(Only 1 Year Is Required)</font>
							          <br />
							          <br /> {% endif %} {% for i in (1..{{product.metafields.PZKeys.number_of_years}}) %}
							          <label class="nameLabel{{ i }}"><font size="-2"><b> Year {{ i }}: </b></font>
							          </label>
							          {% if i == 1 %}
							          <input class="required personalize-option customName{{ i }}" type="text" id="Personalized Name {{ i }}" name="properties[Personalized Name {{ i }}]" style="width:175px;" maxlength="4" data-fieldname="Personalized Name {{ i }}" /> {% else %}
							          <input class="personalize-option customName{{ i }}" type="text" id="Personalized Name {{ i }}" name="properties[Personalized Name {{ i }}]" style="width:175px;" maxlength="4" data-fieldname="Personalized Name {{ i }}" /> {% endif %} {% if i != product.metafields.PZKeys.number_of_years %}
							          <br/>
							          <br/> {% endif %} {% endfor %} {% assign stepnumber = stepnumber | plus:1 %} {% elsif product.metafields.PZKeys.number_of_dates > 0 %} {% if stepnumber == 1 %}

							          <label><b>  
							                  Add Dates:
							                    </b>
							          </label><font size="-2">(Only 1 Date Is Required)</font>
							          <br />
							          <br /> {% else %}

							          <label><b>
							                      Step {{ stepnumber }}. Add Dates: 
							                        </b>
							          </label><font size="-2">(Only 1 Date Is Required)</font>
							          <br />
							          <br /> {% endif %} {% for i in (1..{{product.metafields.PZKeys.number_of_dates}}) %}
							          <label><font size="-2"><b> Date {{ i }} (in MM.DD.YY format, Example: 01.12.15): </b></font>
							          </label>
							          <br/> {% if i == 1 %}
							          <input class="required personalize-option customDate{{ i }}" type="text" id="Date {{ i }}" name="properties[Date {{ i }}]" style="width:175px;" maxlength="8" data-fieldname="Date {{ i }}" /> {% else %}
							          <input class="personalize-option customDate{{ i }}" type="text" id="Date {{ i }}" name="properties[Date {{ i }}]" style="width:175px;" maxlength="8" data-fieldname="Date {{ i }}" /> {% endif %}
							          <br/>
							          <br/> {% endfor %} {% elsif product.metafields.PZKeys.is_monogram == 1%}



							          <div class="one-initial-monogram two-initial-monogram three-initial-monogram" style="display:none;">
							              <label><b>
							                      {% if stepnumber == 1 %} 
							                          Add Monogram:
							                      {% else %}
							                        <br/>
							                          Step {{ stepnumber }}. Add Monogram: 
							                      {% endif %}
							                      <br/><br/>
							                        </b>
							              </label>
							          </div>


							          <!--  Input First Initial -->
							          <div>
							              <div class="one-initial-monogram" id="one-initial-monogram" style="display:none;float:left;">
							                  <font size="-2"><b> Initial: &nbsp;</b> </font>
							              </div>

							              <div class="two-initial-monogram" id="two-initial-monogram" style="display:none;float:left;">
							                  <font size="-2"><b> First Name Initial: &nbsp; </b> </font>
							              </div>

							              <div class="three-initial-monogram" id="three-initial-monogram" style="display:none;float:left;">
							                  <font size="-2"><b> Left Initial: &nbsp;</b> </font>
							              </div>

							              <div class="one-initial-monogram two-initial-monogram three-initial-monogram" style="display:none;">
							                  <input class="personalize-option customName1" maxlength="1" type="text" id="Personalized Name 1" name="properties[Personalized Name 1]" style="width:50px;text-transform:uppercase" data-fieldname="Initial 1" />
							              </div>

							              <div class="three-initial-monogram" id="three-initial-monogram" style="display:none;">
							                  <font size="-2">(Usually the initial of FIRST Name)</font>
							                  <br/>
							              </div>
							          </div>

							          <!--  Input Second Initial -->

							          <div class="two-initial-monogram" id="two-initial-monogram" style="display:none;float:left;">
							              <br/>
							              <br/>
							              <font size="-2"><b> Last Name Initial:&nbsp; </b> </font>
							          </div>

							          <div class="three-initial-monogram" id="three-initial-monogram" style="display:none;float:left;">
							              <br/>
							              <br/>
							              <font size="-2"><b> Center Initial:&nbsp; </b> </font>
							          </div>

							          <div class="two-initial-monogram three-initial-monogram" style="display:none;">
							              <br/>
							              <br/>
							              <input class="required personalize-option customName2" maxlength="1" type="text" id="Personalized Name 2" name="properties[Personalized Name 2]" style="width:50px;text-transform:uppercase" data-fieldname="Initial 2" />
							          </div>

							          <div class="three-initial-monogram" id="three-initial-monogram" style="display:none;">
							              <font size="-2">(Usually the initial of LAST Name)</font>
							              <br/>
							              <br/>
							              <br/>
							          </div>

							          <!--  Input Third Initial -->

							          <div class="three-initial-monogram" id="three-initial-monogram" style="display:none;float:left;">
							              <font size="-2"><b> Right Initial:&nbsp; </b> </font>
							          </div>


							          <div class="three-initial-monogram" id="three-initial-monogram" style="display:none;">
							              <input class="required personalize-option customName3" maxlength="1" type="text" id="Personalized Name 3" name="properties[Personalized Name 3]" style="width:50px;text-transform:uppercase" data-fieldname="Initial 3" />
							          </div>

							          <div class="three-initial-monogram" id="three-initial-monogram" style="display:none;">
							              <font size="-2">(Usually the initial of MIDDLE Name)</font>
							              <br/>
							          </div>


							          <div class="full-name-monogram" id="full-name-monogram" style="display:none;">
							              <label><b>
							                      {% if stepnumber == 1 %} 
							                          Add Your Personalized Text:
							                      {% else %}
							                        <br/>
							                          Step {{ stepnumber }}. Add Your Personalized Text: 
							                      {% endif %}
							                        </b>
							              </label>
							              <br/>
							              <br/>
							              <font size="-2"><b> Name:</b> </font>
							              <input class="required personalize-option customText" type="text" id="Personalized Text" name="properties[Personalized Text]" style="width:175px;" maxlength="{{ product.metafields.PZKeys.maxlength }}" data-fieldname="Personalized Text" /> <font size="-2">(Limit: {{ product.metafields.PZKeys.maxlength }} chars 
							                    {% if product.metafields.PZKeys.text_case == "ALL UPPER" %}, ONLY CAPITAL LETTERS{% elsif product.metafields.PZKeys.text_case == "ALL LOWER"%} , ONLY LOWERCASE{% endif %}</font>)

							          </div>



							          {% assign stepnumber = stepnumber | plus:1 %} {% else %} {% if product.metafields.PZKeys.number_of_pz_text_lines == blank or product.metafields.PZKeys.number_of_pz_text_lines == 1 %} {% unless product.metafields.PZKeys.personalized_text == 0 %}
							          <label><b>{% if stepnumber == 1 %} 
							                              Add Your Personalized Text:
							                      {% else %}
							                            <br />  
							                        Step {{ stepnumber }}. Add Your Personalized Text:
							                              {% assign stepnumber = stepnumber | plus:1 %}
							                      {% endif %}
							                        </b>
							          </label>
							          <br />
							          <br /> {% if product.metafields.PZKeys.maxlength > 16 %}
							          <textarea class="required personalize-option customText" style="font-size: 14px;height:40px; width:225px;" id="Personalized Text" name="properties[Personalized Text]" maxlength="{{ product.metafields.PZKeys.maxlength }}" data-fieldname="Personalized Text"> </textarea>
							          <br/>(<font size="-2">Limit: {{ product.metafields.PZKeys.maxlength }} chars        
							            {% else %}
							                          <input class="required personalize-option customText" type="text" id="Personalized Text" name="properties[Personalized Text]" style="width:175px;" maxlength="{{ product.metafields.PZKeys.maxlength }}" data-fieldname="Personalized Text" /> (<font size="-2">Limit: {{ product.metafields.PZKeys.maxlength }} chars 
							                    {% endif %}
							                    {% if product.metafields.PZKeys.text_case == "ALL UPPER" %}, ONLY CAPITAL LETTERS{% elsif product.metafields.PZKeys.text_case == "ALL LOWER"%} , ONLY LOWERCASE{% endif %}</font>) {% endunless %} {% else %} {% for i in (1..{{product.metafields.PZKeys.number_of_pz_text_lines}}) %}
							          <label><b> Personalized Text Line {{ i }}: </b>
							          </label>
							          {% if i == 1 %}
							          <input class="required personalize-option customName{{ i }}" type="text" id="Personalized Name {{ i }}" name="properties[Personalized Name {{ i }}]" style="width:175px;" maxlength="{{ product.metafields.PZKeys.maxlength }}" data-fieldname="Personalized Name {{ i }}" /> {% else %}
							          <input class="personalize-option customName{{ i }}" type="text" id="Personalized Name {{ i }}" name="properties[Personalized Name {{ i }}]" style="width:175px;" maxlength="{{ product.metafields.PZKeys.maxlength }}" data-fieldname="Personalized Name {{ i }}" /> {% endif %}
							          <br/>
							          <br/> {% endfor %} {% endif %} {% endif %} {% unless product.metafields.PZKeys.number == 0 or product.metafields.PZKeys.number == blank %}
							          <br/>
							          <br/>
							          <label><b> Add Your Personalized Number: </b> </label>
							          <br />
							          <br />

							          <input class="required customNumber" type="text" id="Number" name="properties[Number]" style="width:50px;" data-fieldname="Number" maxlength="2" /> {% endunless %} {% unless product.metafields.PZKeys.birthdate == 0 or product.metafields.PZKeys.birthdate == blank %}
							          <br/>
							          <br/>
							          <label><b> Select Date: </b> &nbsp;<font size="-2">(&nbsp;Optional&nbsp;)</font>
							          </label>
							          <br />
							          <br />

							          <input type="text" class="customDate" id="datepicker" name="properties[Date]" style="width:175px;" data-fieldname="Date" /> {% endunless %} {% unless product.metafields.PZKeys.weight == 0 or product.metafields.PZKeys.weight == blank %}
							          <br/>
							          <br/>
							          <label><b> Enter Weight: </b> &nbsp;<font size="-2">(&nbsp;Optional&nbsp;)</font>
							          </label>
							          <br />
							          <br />

							          <input type="text" id="Weight" name="properties[Weight]" style="width:175px;" data-fieldname="Weight" maxlength="20" /> {% endunless %} {% unless product.metafields.PZKeys.year == 0 or product.metafields.PZKeys.year == blank %}
							          <br/>
							          <br/>
							          <label><b> Enter Year: </b>
							          </label>
							          <br />
							          <br />

							          <input class="required customYear" type="text" id="Year" name="properties[Year]" style="width:175px;" data-fieldname="Year" maxlength="4" /> {% endunless %}


							          


							          <!-- No Preview available -->
							          {% if product.metafields.PZKeys.template_id_map == blank and product.metafields.PZKeys.design_id == blank %}
								          <div class="addbuttoncont">
								              <input type="hidden" id="custom-preview" class="button large plus" value="Preview" type="button" data-case-restriction="{{product.metafields.PZKeys.text_case}}" split-date="{{product.metafields.PZKeys.split_date_for_preview}}" number-of-names="{{product.metafields.PZKeys.number_of_names}}" number-of-years="{{product.metafields.PZKeys.number_of_years}}" is-dynamic-multiname="{{product.metafields.PZKeys.is_dynamic_multiname}}" is-monogram="{{product.metafields.PZKeys.is_monogram}}" number-of-pz-text-lines="{{product.metafields.PZKeys.number_of_pz_text_lines}}" vertical-text="{{product.metafields.PZKeys.is_vertical_text}}" data-sku="{{product.variants.first.sku}}" data-template-lookup="{{product.metafields.PZKeys.template_id_map}}" data-design-lookup="{{product.metafields.PZKeys.design_id}}" data-design-table-key="{{product.metafields.PZKeys.design_table_key}} " data-template-level="{{product.metafields.PZKeys.data_template_level}}" alternate-names-dates="{{product.metafields.PZKeys.alternate_names_dates}}" has-background-initial="{{product.metafields.PZKeys.has_background_initial}}">
								          </div>
							          {% else %}

							          <div class="addbuttoncont">
							              <input style="float:left;" id="custom-preview" class="button large plus" value="Preview Now" type="button" data-case-restriction="{{product.metafields.PZKeys.text_case}}" split-date="{{product.metafields.PZKeys.split_date_for_preview}}" number-of-names="{{product.metafields.PZKeys.number_of_names}}" number-of-years="{{product.metafields.PZKeys.number_of_years}}" is-dynamic-multiname="{{product.metafields.PZKeys.is_dynamic_multiname}}" is-monogram="{{product.metafields.PZKeys.is_monogram}}" number-of-pz-text-lines="{{product.metafields.PZKeys.number_of_pz_text_lines}}" vertical-text="{{product.metafields.PZKeys.is_vertical_text}}" data-sku="{{product.variants.first.sku}}" data-template-lookup="{{product.metafields.PZKeys.template_id_map}}" data-design-lookup="{{product.metafields.PZKeys.design_id}}" data-design-table-key="{{product.metafields.PZKeys.design_table_key}}" data-variant-sku="{{variant.sku}}" data-template-level="{{product.metafields.PZKeys.data_template_level}}" alternate-names-dates="{{product.metafields.PZKeys.alternate_names_dates}}" has-background-initial="{{product.metafields.PZKeys.has_background_initial}}"><font class="preview-btn-info" color="red" style="margin-top: 20px; display: inline-block;"><b>&nbsp;&nbsp;&#8678<font color="red" > Click to View <br/>&nbsp;&nbsp; Personalization</b></font></font>
							          </div>
							          {% endif %}
							          <!-- Dupp end -->





							      </div>

							      </div>

							      <div id="w3-product-accessories">
							          <div id="w3-money-format" style="display:none;">{{ shop.money_format }}</div>
							      </div>

							      <hr>
							      <br /> {% if product.variants.first.inventory_management == 'shopify' and product.variants.first.inventory_quantity
							      < 1 and product.variants.first.inventory_policy=='continue' %} <center>
							          <p style="font-size: larger;border: dotted 2px #959695;border-color: red;padding: 10px;color: red;">
							              <b> Currently <u style="font-weight:bold;">OUT</u> <u style="font-weight:bold;">OF</u> <u style="font-weight:bold;">STOCK</u><br /> But Available For Backorder </font></b> </p>
							          </center>


							          {% elsif product.tags contains 'related-fathers-day'%} {% comment %}<b><font color="red">*** Use RUSH or EXPRESS Shipping Options for Guaranteed Delivery By Fathers Day  *** <br/>  </font></b>
							          <br/>
							          <br/> {% endcomment %} {% else %} {% comment %}{% if rushShippingAvailable %}
							          <br/><b>
							          <center><font color="green">◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆</font><br/> GET THIS ITEM BY CHRISTMAS! <br/><br/><b><u>Express Shipping:</u> Order By Dec 21</b>
							          <br/><b><u>Urgent Shipping:</u> Order By Dec 22</b>
							          <br/>
							          <br/><font color="green">◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ ◆ </font>
							          </b>
							          <br />
							          </center>
							          {% endif %} {% endcomment %} {% comment %}{% if rushShippingAvailable %}
							          <br/>
							          <center><font color="green">** Rush Delivery Options Also Available **</font>
							          </center>
							          <center><font color="green">( Add to Cart for Details )</font>
							          </center>
							          {% endif %} {% endcomment %} {% comment %}{% if product.vendor == "MyBambino" %}<b>* Expect Delivery within 6 Business Days *</b>{% endif %}{% endcomment %} {% comment %} {% if product.vendor == "NA Bear" or product.vendor == "Komet Creations" or product.vendor == "Gund" or product.vendor == "Mary Meyer" or product.vendor == "Stephen Joseph" or product.vendor == "Maison Chic" or product.vendor == "Stork Sales" %}
							          <center>
							              <p style="font-size: larger;border: dotted 2px #959695;border-color: red;padding: 10px;color: red;"><font color="red">Place Order For This Item By <u><b>February 8</b></u> <br/>For Delivery By Easter</font>
							              </p>
							          </center>
							          {% endif %} {% endcomment %}



							          <br/> {% endif %} {% comment %}DUPP: CART PLACEHOLDER{% endcomment %}


							{% else %}

							  <h3>{{ settings.text_soldout }}</h3> 
							{% endif %}	
						</div> <!–– end preview col ––>			
					</div> <!–– end row ––>



					<!–– cart ––>
					{% if product.metafields.PZKeys.template_id_map == blank and product.metafields.PZKeys.design_id == blank %}
						<!–– no preview ––>
						<div class="cart-section">

					{% else %}
						<!–– preview available ––>
						<div class="cart-section" style="display:none;">

					{% endif %}

						<input type="hidden" id="preview-image-url" name="properties[preview-image-url]" data-fieldname="preview-image-url" value=""/>
		          
			            <div class="addbuttoncont">
			              <div class="shopping-cart"></div>
			                <input type="submit" name ="add" id="shappify_add_to_cart_btn" class="button large plus" value="{{ settings.text_addtocart }}" />
			            </div>              
						
			           <div class="payment-method-container">   
			           
					          <div class="paymentmethods seven columns row">
					    		{% if settings.payment_2co_enabled == true %}
					            <span class="2co"><span>2Checkout</span></span>
					            {% endif %}
					            {% if settings.payment_amex_enabled == true %}
					            <span class="amex"><span>American Express</span></span>
					            {% endif %}
					            {% if settings.payment_cirrus_enabled == true %}
					            <span class="cirrus"><span>Cirrus</span></span>
					            {% endif %}
					            {% if settings.payment_delta_enabled == true %}
					            <span class="delta"><span>Delta</span></span>
					            {% endif %}
					            {% if settings.payment_discover_enabled == true %}
					            <span class="discover"><span>Discover</span></span>
					            {% endif %}
					            {% if settings.payment_google_enabled == true %}
					            <span class="google"><span>Google Checkout</span></span>
					            {% endif %}
					            {% if settings.payment_maestro_enabled == true %}
					            <span class="maestro"><span>Maestro</span></span>
					            {% endif %}
					            {% if settings.payment_mastercard_enabled == true %}
					            <span class="mastercard"><span>Mastercard</span></span>
					            {% endif %}
					            {% if settings.payment_moneybookers_enabled == true %}
					            <span class="moneybook"><span>Moneybookers</span></span>
					            {% endif %}
					            {% if settings.payment_paypal_enabled == true %}
					            <span class="paypal"><span>PayPal</span></span>
					            {% endif %}
					            {% if settings.payment_sagepay_enabled == true %}
					            <span class="sage"><span>SagePay</span></span>
					            {% endif %}
					            {% if settings.payment_solo_enabled == true %}
					            <span class="solo"><span>Solo</span></span>
					            {% endif %}
					            {% if settings.payment_switch_enabled == true %}
					            <span class="switch"><span>Switch</span></span>
					            {% endif %}
					            {% if settings.payment_visa_enabled == true %}
					            <span class="visa"><span>Visa</span></span>
					            {% endif %}
					            {% if settings.payment_visaelectron_enabled == true %}
					            <span class="electron"><span>Visa Electron</span></span>
					            {% endif %}
					            <a style="margin-left:60px" href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img width="100" length="100" src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_secured_by_pp_2line.png" border="0" alt="Secured by PayPal"></a>
					            
					        </div>
					    </div>
					</div>


				</form>
			</div>

			<div class="modal-footer">
				<input id="close-modal" class="button large plus" data-dismiss="modal" type="button" value="Cancel" style="text-align:center; margin-left:auto; margin-right:auto;">
			</div>

		</div>
	</div>

</script>