
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=100%, initial-scale=1, minimum-scale=1,"/>
<meta name="google-site-verification" content="h7nRFdMPwg8G9RSMLQS4SAQEjVT97yhfJF_cpj-kcfA" />


<link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
{% comment %}
If you want to set custom icons to use on Apple iOS devices, upload the following files and un-comment these <link>s
<link rel="apple-touch-icon" sizes="57x57" href="{{ 'logo_apple_57.png' | asset_url }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ 'logo_apple_72.png' | asset_url }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ 'logo_apple_114.png' | asset_url }}">
{% endcomment %}

{% if template == 'index' %}
    {% if settings.seo_tagline != '' %}
        <title>{{ settings.seo_tagline }} - {{ shop.name }}</title>
    {% else %}
        <title>{{ shop.name }}</title>
    {% endif %}
{% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
{% else %}
 <title>{{ page_title }} | {{ shop.name }}</title>
{% endif %}

{% if page_description != '' %}   
<meta name="description" content="{{ page_description | remove: '[[start tab]] DESCRIPTION '}}" />
{% else %}
    {% assign maxwords = 30 %}
    {% if template contains 'product' %}
        {% capture productdesc %}{% include 'process-html-strip' with product.description %}{% endcapture %}
        <meta name="description" content="{{ productdesc | strip_html | strip_newlines | truncatewords: maxwords | escape }}" />
    {% elsif template contains 'page' %}
        {% capture page_trunc %}{% include 'process-html-strip' with page.content %}{% endcapture %}
        <meta name="description" content="{{ page_trunc | strip_html | strip_newlines | truncatewords: maxwords | escape }}" />
    {% elsif template == 'index' %}
        <meta name="description" content="{{ shop.description | escape }}" />
    {% endif %}
{% endif %}

<link rel="canonical" href="{{ canonical_url }}" />


{% comment %} Below 'og' tags are for Facebook {% endcomment %}
<meta property="og:site_name" content="{{ shop.name | escape }}" />
{% if template == 'product' %}
    <meta property="og:image" content="{{ product.featured_image | product_img_url: 'large' }}" />
    <meta property="og:description" content="{{ productdesc | strip_html | truncatewords:20 | escape }}" />
    <meta property="og:title" content="{{ product.title | escape }} - {{ shop.name | escape }}" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{ shop.url }}{{ product.url }}" />
{% elsif template contains 'article' %}
    <meta property="og:title" content="{{ article.title | escape }} - {{ shop.name | escape }}" />
    <meta property="og:description" content="{{ article.content | strip_html | truncatewords:20 | escape }}" />
    <meta property="og:url" content="{{ shop.url }}{{ article.url }}" />
    <meta property="og:type" content="article" />
    {% if article.content contains '<img' %}
        {% assign src = article.content | split: 'src="' %}
        {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' %}
        {% if src %}<meta property="og:image" content="{{ src }}" />{% endif %}
    {% elsif settings.use_logo_image == true %}
        <meta property="og:image" content="{{ 'logo.png' | asset_url }}" />
    {% endif %}
{% else %}
    <meta property="og:type" content="website" />
    {% if settings.use_logo_image == true %}
        <meta property="og:image" content="{{ 'logo.png' | asset_url }}" />
    {% endif %}
    {% if template == 'index' %}
        <meta property="og:url" content="{{ shop.url }}" />
    {% elsif template == 'blog' %}
        <meta property="og:url" content="{{ shop.url }}{{ blog.url }}" />
    {% endif %}
{% endif %}